.preloader-close {
    background: #FF0808
}

.main-header .header-top .top-left ul li a:hover {
    color: #FF0808
}

.main-header .header-top .top-left ul li i {
    color: #FF0808
}

.main-header .header-top .top-right .social-links li a:hover {
    color: #FF0808
}

.theme-btn-one i {
    color: #FF0808
}

.theme-btn-one:hover {
    color: #FF0808
}

.main-header.style-one .header-upper .menu-right-content .support-box {
    background: #FF0808
}

.main-menu .navigation > li > ul > li > a:hover {
    color: #FF0808
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
    color: #FF0808
}

.main-menu .navigation > li > .megamenu li > a:hover {
    color: #FF0808
}

.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a {
    background: #FF0808
}

.banner-section .owl-nav .owl-next:hover {
    border-color: #FF0808;
    background: #FF0808
}

.banner-section .owl-nav .owl-prev:hover {
    border-color: #FF0808;
    background: #FF0808
}

#image_block_1 .image-box .box .inner h1 {
    color: #FF0808
}

.sec-title:before {
    background: #FF0808
}

.sec-title .dotted-box .dotted {
    background: #FF0808
}

.theme-btn-two {
    background: #FF0808
}

h3 a:hover {
    color: #FF0808
}

.cta-section .inner-box .text:before {
    background: #FF0808
}

.cta-section .inner-box .text:after {
    background: #FF0808
}

.cta-section .inner-box .text .dotted-box .dotted {
    background: #FF0808
}

.service-block-one .inner-box:hover .icon-box {
    color: #FF0808
}

.service-block-one .inner-box .link a {
    color: #FF0808
}

.service-block-one .inner-box:before {
    background: #FF0808
}

.apply-section .inner-box {
    background: #FF0808
}

.apply-section .inner-box .content-box .theme-btn-one:hover i {
    color: #FF0808
}

.search-popup .search-form fieldset input[type=submit] {
    background: #FF0808
}

.search-popup .recent-searches li a:hover {
    color: #FF0808;
    border-color: #FF0808
}

.training-block-one .inner-box .overlay-box:before {
    background: #FF0808
}

.training-section .owl-nav .owl-prev:hover,
.training-section .owl-nav .owl-next:hover {
    background: #FF0808;
    border-color: #FF0808
}

.immigration-section .more-text h3 a span {
    color: #FF0808;
    border-bottom: 1px solid #FF0808
}

#content_block_2 .content-box .inner-box .single-item:hover .icon-box {
    background: #FF0808
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span,
.testimonial-section .owl-theme .owl-dots .owl-dot span:hover {
    background: #FF0808
}

.inquiry-section .inner-box .inquiry-form .form-group textarea:focus,
.inquiry-section .inner-box .inquiry-form .form-group input:focus {
    border-color: #FF0808 !important
}

.inquiry-section .content-box .info-box li h3 a:hover {
    color: #FF0808
}

.news-block-one .inner-box .lower-content .post-date {
    background: #FF0808
}

.news-block-one .inner-box .lower-content .post-info li a:hover {
    color: #FF0808
}

.news-block-one .inner-box .lower-content .post-info:before {
    background: #FF0808
}

.news-block-one .inner-box .lower-content .link a:hover {
    color: #FF0808
}

.main-footer .footer-top .logo-widget .social-links li a:hover {
    color: #FF0808
}

.main-footer .footer-top .newsletter-widget .newsletter-form .form-group input:focus {
    border-color: #FF0808 !important
}

.main-footer .footer-top .newsletter-widget .newsletter-form .form-group button {
    background: #FF0808
}

.main-footer .footer-bottom .copyright p a:hover {
    color: #FF0808
}

.scroll-top {
    background: #FF0808
}

.main-footer .footer-bottom .footer-nav li a:hover {
    color: #FF0808
}

.main-header.style-two .header-top .top-right .search-box-outer .search-toggler:hover {
    color: #FF0808
}

.feature-block-two .inner-box:before {
    background: #FF0808
}

.service-block-two .inner-box .lower-content .link a i {
    color: #FF0808
}

.service-block-two .inner-box .lower-content .link:before {
    background: #FF0808
}

.service-style-two .more-text span {
    color: #FF0808;
    border-bottom: 1px solid #FF0808
}

.apply-style-two .single-item .inner-box .icon-box {
    color: #FF0808
}

.apply-style-two .single-item .inner-box:hover .icon-box {
    background: #FF0808;
    border-color: #FF0808
}

.offer-section .owl-nav .owl-prev:hover,
.offer-section .owl-nav .owl-next:hover {
    background: #FF0808;
    border-color: #FF0808
}

.team-block-one .inner-box .image-box .social-links li a:hover {
    color: #FF0808
}

.team-block-one .inner-box .lower-content h4 a:hover {
    color: #FF0808
}

.funfact-style-two .inner-container {
    background: #FF0808
}

.testimonial-style-two .owl-theme .owl-dots .owl-dot.active span,
.testimonial-style-two .owl-theme .owl-dots .owl-dot span:hover {
    background: #FF0808
}

.page-title .content-box .title-box:before {
    background: #FF0808
}

.page-title .content-box .title-box .dotted-box .dotted {
    background: #FF0808
}

.page-title .content-box .bread-crumb li a:hover {
    color: #FF0808
}

.sidebar-page-container .sidebar .sidebar-categories .categories-list li a.active i,
.sidebar-page-container .sidebar .sidebar-categories .categories-list li a:hover i {
    color: #FF0808
}

.sidebar-page-container .sidebar .widget-title:before {
    background: #FF0808
}

.sidebar-page-container .sidebar .widget-title .dotted-box .dotted {
    background: #FF0808
}

.sidebar-page-container .sidebar .sidebar-download {
    background: #FF0808
}

.sidebar-page-container .sidebar .sidebar-categories-2 .categories-list li a:hover:after {
    color: #FF0808
}

.sidebar-page-container .sidebar .sidebar-assessment .assessment-form .form-group input:focus,
.sidebar-page-container .sidebar .sidebar-assessment .assessment-form .form-group textarea:focus {
    border-color: #FF0808 !important
}

.group-title:before {
    background: #FF0808
}

.group-title .dotted-box .dotted {
    background: #FF0808
}

.mobile-menu .contact-info ul li a:hover {
    color: #FF0808
}

.mobile-menu .social-links li a:hover {
    color: #FF0808
}

.error-section .content-box h1 {
    color: #FF0808
}

.sidebar-page-container .service-details-content .content-style-two .inner-box .single-item .icon-box {
    color: #FF0808
}

.service-details-content .two-column .content-box .list li:before {
    color: #FF0808
}

.sidebar-page-container .news-block-one .inner-box .lower-content h2 a:hover {
    color: #FF0808
}

.sidebar-page-container .sidebar .sidebar-search .form-group input:focus + button,
.sidebar-page-container .sidebar .sidebar-search .form-group button:hover {
    color: #FF0808
}

.sidebar-page-container .blog-sidebar .sidebar-post .post-inner .post h5 a:hover {
    color: #FF0808
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote {
    border-left: 3px solid #FF0808
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote i {
    color: #FF0808
}

.blog-details-content .two-column .text ul li:before {
    color: #FF0808
}

.blog-details-content .post-share-option ul li a:hover {
    color: #FF0808 !important
}

.blog-details-content .comments-area .comment-box .comment .comment-inner a {
    color: #FF0808
}

.contact-page-section .info-inner .single-item .inner-box p a:hover {
    color: #FF0808
}

.contact-page-section .info-inner .single-item .inner-box:hover .icon-box {
    color: #FF0808
}

.contact-page-section .contact-form-inner .default-form .form-group input:focus,
.contact-page-section .contact-form-inner .default-form .form-group textarea:focus {
    border-color: #FF0808 !important
}

.inquiry-section .inner-box textarea.wpcf7-form-control.wpcf7-textarea:focus,
.inquiry-section .inner-box .wpcf7 .form-group input:focus {
    border-color: #FF0808 !important
}

.main-footer .footer-top .newsletter-widget .wpcf7-form .form-group button {
    background: #FF0808
}